/* reset */
*{
 margin:0;
  padding:0
}
body{
  font:12px/24px "宋体";
   background:#fff;
}
a{
 text-decoration:none;
}
li{
 list-style:none;
}
img{
 vertical-align:bottom;
}
.clear:after{
	content:'';
	display:block;
	clear:both;
}
.clear{
	zoom:1;
}
/* end reset */
/* header */
#header{
   width:100%;
   background:#f5f5f5;
   border-bottom:1px solid #eeeeee;
    }
#header_nav{
   width:1190px;
   height:35px;
   margin:0 auto;
}
#header_nav_l,#header_nav_mobile{
   float:left;
   padding:0 6px;
}
#header_nav_l li,#header_nav_r li{
   float:left;
}
#header_nav_l li{ 
	padding-right:7px;
}
#header_nav_l a,#header_nav_mobile a{ 
	display:block;
	line-height:36px;
	color:#6c6c6c;
}
#header_nav_r{ 
	float:right;
}
#header_nav_r li{ 
	border-left:1px solid #f5f5f5; 
	border-right:1px solid #f5f5f5; 
	padding:0 24px 0 5px;
}
#header_nav_r a{ 
	display:block;
	line-height:36px; 
	color:#6c6c6c;
}
#header_nav_r .myTb,#header_nav_r .seller{ 
	padding:0 24px 0 5px;
}
#header_nav_r .classify{ 
	padding:0 27px 0 5px;
}
#header_nav_r .service{ 
	padding:0 12px 0 5px;
}
#header_nav_r .cart,#header_nav_r .favorite,#header_nav_r .nav{ 
	padding:0 24px 0 5px;
}
#header_nav_r .cart a,#header_nav_r .favorite a,#header_nav_r .nav a{ 
	padding-left:17px;
}
#header_nav_l li:hover a,#header_nav_mobile:hover a,#header_nav_r li:hover a{ 
	color:#ff4400;
}
#header_nav_r .favorite{ 
	background:url(../img/star_gray.png) no-repeat 5px 11px,url(../img/header_drop_down.png) no-repeat 67px 16px;
}
#header_nav_r .favorite:hover{ 
	background:url(../img/star_active.png) no-repeat 5px 11px,url(../img/header_drop_down.png) no-repeat 67px 16px;
}
/* end header */

/* search_wrap */
#search_wrap{ 
	width:1190px; margin:0 auto;
}
#tbLogo{ 
	float:left; margin-top:38px;
}
#tbLogo a{ 
	width:145px; 
	height:60px; 
	display:block; 
	background:url(../img/cssSprites1.png) no-repeat;
}
#search{ 
	float:left; 
	margin-left:105px; 
	margin-top:30px;
}
#search_wrap #search .search_list{}
#search_wrap #search .search_list li{ 
	float:left;
}
#search_wrap #search .search_list a{ 
	width:50px; 
	height:25px; 
	display:block; 
	font:12px/26px "宋体"; 
	text-align:center; 
	color:#3c3c3c;
}
#search_wrap #search .search{ 
	height:40px;
}
#search_wrap #search .search_text{ 
	width:618px; 
	height:34px; 
	border:3px solid #ff5500; 
	border-right:none; 
	vertical-align:top; 
	float:left; 
	outline:none; 
	text-indent:32px; 
	vertical-align:center; 
	background:url(../img/search.png) no-repeat 11px 12px; font:12px/34px "宋体";
}
#search_wrap #search .search_btn{ 
	width:100px; 
	height:40px; 
	background:url(../img/cssSprites1.png) no-repeat -250px 0; 
	border:none; 
	outline:none; 
	cursor:pointer; 
	float:left;
}
#search_wrap #search .search_list .search_list_baby.active{ 
	background:#ff5400;
}
#search_wrap #search .search_list .search_list_baby.active a{ 
	color:#fff; 
	font-weight:bold;
}
#search_wrap #search .search_list .hoverYs1{ 
	background:#ffeee5;
}
#search_wrap #search .search_list .hoverYs2{ 
	background:#f9e6e6;
}
#search_wrap #search .gjSearch{ 
	float:left; 
	padding:0 15px; 
	width:24px; 
	margin-top:-1px;
}
#search_wrap #search .gjSearch a{ 
	font:12px/18px "宋体"; 
	color:#6c6c6c;
}
#search_wrap #search .gjSearch a:hover{ 
	color:#ff4400;
}
#search_wrap #search .recommend{ 
	float:left;
}
#search_wrap #search .recommend a{ 
	line-height:30px; 
	color:#6c6c6c; 
	margin-right:8px;
} 
#search_wrap #search .more{ 
	float:left; 
	margin-top:4px; 
	margin-left:23px;
}
#search_wrap #search .more a{ 
	width:39px; 
	height:18px; 
	line-height:20px; 
	color:#6c6c6c; 
	text-indent:5px; 
	display:block; 
	background:url(../img/more.png) no-repeat 32px 6px; 
	border:1px solid #e8e8e8;
}
#search_wrap #mobileShopping{ 
	float:right; 
	position:relative; 
	margin-top:10px;
}
#search_wrap #mobileShopping .QR_Code a{ 
	display:block; 
	padding:6px 6px 8px 8px; 
	font:12px/18px "宋体"; 
	color:#ff4400; 
	width:80px; height:98px; 
	background:url(../img/mobileTaobao.png) no-repeat 8px 24px; 
	text-indent:9px; 
	background-size:80px 80px; 
	border:1px solid #e8e8e8;
}
#search_wrap #mobileShopping .close{ 
	width:18px; 
	height:18px; 
	border:1px solid #e8e8e8; 
	border-right:none; 
	background:url(../img/close.png) no-repeat 4px 4px; 
	position:absolute; 
	left:-19px; top:0;
}
/* end search_wrap */

#space1{ 
	height:5px; 
	margin:0 auto; 
	width:1190px;
}
/* main */
#main{ 
	width:1190px; 
	margin:0 auto;
}
#main .TbTsService{ 
	width:188px; 
	border:1px solid #ff4400; 
	padding-bottom:9px; 
	box-shadow:2px 2px 0px rgba(0,0,0,0.1); 
	float:left;
}
#main .TbTsService h2{ 
	height:34px; 
	background:#ff4400; 
	color:#fff; 
	text-shadow:0 0 5px rgba(255,255,255,0.2); 
	font-weight:200; 
	font-size:16px; 
	line-height:34px; 
	text-indent:14px; 
	font-family:"微软雅黑";
}


#main .TbTsService .ztsc,#main .TbTsService .tsShop,#main .TbTsService .yhcx,#main .TbTsService .tool{ 
	padding:7px 9px 0 9px;
}
#main .TbTsService .ztsc h3,#main .TbTsService .tsShop h3,#main .TbTsService .yhcx h3,#main .TbTsService .tool h3{ 
	width:100px; 
	font:14px/26px "宋体"; 
	font-weight:bold; 
	text-shadow:0 0 1px rgba(153,153,153,0.1); 
	color:#3c3c3c; 
	text-indent:32px; 
	background:url(img/cssSprites1.png) no-repeat -150px -238px;
}
#main .TbTsService .ztsc ul,#main .TbTsService .tsShop ul,#main .TbTsService .yhcx ul,#main .TbTsService .tool ul{ 
	border-bottom:1px solid #e6e7eb; 
	padding-bottom:8px;
}
#main .TbTsService .ztsc li,#main .TbTsService .tsShop li,#main .TbTsService .yhcx li,#main .TbTsService .tool li{ 
	float:left; 
	padding:0 5px;
}
#main .TbTsService .ztsc a,#main .TbTsService .tsShop a,#main .TbTsService .yhcx a,#main .TbTsService .tool a{ 
	display:block; 
	color:#3c3c3c;
}
#main .TbTsService .ztsc li:hover a,#main .TbTsService .tsShop li:hover a,#main .TbTsService .yhcx li:hover a,#main .TbTsService .tool li:hover a{ 
	color:#ff4400;
}
#main .TbTsService .ztsc li:nth-of-type(3n+1) a,#main .TbTsService .tsShop li:nth-of-type(3n+1) a,#main .TbTsService .yhcx li:nth-of-type(3n+1) a,#main .TbTsService .tool li:nth-of-type(3n+1) a{ padding-right:10px;}
#main .TbTsService .ztsc li:nth-of-type(3n+2) a,#main .TbTsService .tsShop li:nth-of-type(3n+2) a,#main .TbTsService .yhcx li:nth-of-type(3n+2) a,#main .TbTsService .tool li:nth-of-type(3n+2) a{ padding-right:12px;}
#main .TbTsService .ztsc{ 
	position:relative;
}
#main .TbTsService .ztsc .more{ 
	float:left; 
	margin-top:4px; 
	margin-left:23px; 
	position:absolute; 
	left:116px; 
	top:6px;
}
#main .TbTsService .ztsc .more a{ 
	width:39px; 
	height:18px; 
	line-height:20px; 
	color:#6c6c6c; 
	text-indent:5px; 
	display:block; 
	background:url(../img/more.png) no-repeat 32px 6px; 
	border:1px solid #e8e8e8;
}

#main .TbTsService .tsShop h3{ 
	background-position: -150px -213px;
}
#main .TbTsService .yhcx h3{ 
	background-position: -150px -188px;
}
#main .TbTsService .tool h3{ 
	background-position: -150px -263px;
}
#main .TbTsService .tool ul{ 
	border-bottom:none; 
	padding-bottom:10px;
}
#main #main_r{ 
	width:990px; 
	float:right;
}
#main #main_r .main_r_title{ 
	height:34px; 
	border-bottom:2px solid #ff4400;
}
#main #main_r .main_r_title ul{ 
	float:left; padding-top:4px; padding-left:10px;
}
#main #main_r .main_r_title li{ 
	float:left;margin-right:20px;
}
#main #main_r .main_r_title li.normal{ 
	padding:0 4px 0 5px; 
	margin-right:18px;
}
#main #main_r .main_r_title li a{ 
	display:block; 
	font:14px/28px "宋体"; 
	font-weight:bold; 
	color:#666666; 
	text-align:center;
}
#main #main_r .main_r_title li.red a{ 
	width:58px; 
	height:28px; 
	font:16px/28px "宋体"; 
	font-weight:bold; 
	color:#ff4400;
}
#main #main_r .main_r_title .TbStory{ 
	float:left; 
	background:url(../img/tbStory.gif) no-repeat; 
	width:80px; 
	height:30px; 
	margin-top:4px;
}
#main #main_r .main_r_title .xfzbz{ 
	float:right; 
	margin-top:10px;
}
#main #main_r .main_r_title .xfzbz a{ 
	color:#555; 
	font:12px/22px "宋体"; 
	font-weight:bold; 
}
#main #main_r .main_r_b{ 
	height:100px; 
	margin-top:10px;
}
#main #main_r .main_r_b_l{ 
	float:left; 
	width:690px; 
	height:480px;
}
#main #main_r .main_r_b_r{ 
	float:right; 
	width:288px; 
	border:1px solid #dddddd;
}
#main #main_r .main_r_b_r .main_r_b_r_title{}
#main #main_r .main_r_b_r .main_r_b_r_title .tabBtn{}
#main #main_r .main_r_b_r .main_r_b_r_title .tabBtn li{ 
	width:56px; 
	border-left:1px solid #f7f7f7; 
	border-right:1px solid #f7f7f7; 
	float:left; height:26px; 
	text-align:center; 
	background:#f7f7f7; 
	border-bottom:1px solid #e8e8e8;
}
#main #main_r .main_r_b_r .main_r_b_r_title .tabBtn li.active{
	background:#fff; 
	border-bottom-color:#fff; 
	border-right-color:#e8e8e8; 
	/*border-right-color:#e8e8e8;*/
}
#main #main_r .main_r_b_r .main_r_b_r_title .tabBtn li.active a{ 
	font-weight:bold;
}
#main #main_r .main_r_b_r .main_r_b_r_title .tabBtn a{ 
	font:12px/28px "宋体"; 
	color:#3c3c3c;
}
#main #main_r .main_r_b_r .main_r_b_r_title .tabBtn a:hover{ 
	color:#ff4400;
}
#main #main_r .main_r_b_r .main_r_b_r_title .tabText{ 
	padding:11px;
}
#main #main_r .main_r_b_r .main_r_b_r_title .tabText li{ 
	width:133px; 
	height:24px; 
	float:left;
}
#main #main_r .main_r_b_r .main_r_b_r_title .tabText a{ 
	font:12px/24px "宋体"; 
	color:#3c3c3c;
}
#main #main_r .main_r_b_r .main_r_b_r_title .tabText a.red{ 
	color:#ff4400;
}
#main #main_r .main_r_b_r .main_r_b_r_title .tabText a:hover{ 
	color:#ff4400;
}
#main .main_r_b_r_hello{ 
	height:115px; 
	border-top:1px solid #dddddd; 
	border-bottom:1px solid #dddddd; 
	padding-left:10px; 
	padding-top:5px; 
	background:url(../img/tx_bg.png) no-repeat right top;
}
#main .main_r_b_r_hello .top{}
#main .main_r_b_r_hello .top_l{ 
	width:60px; 
	height:60px; 
	background:url(../img/cssSprites1.png) no-repeat -150px -80px; 
	float:left; 
	margin-right:10px;
}
#main .main_r_b_r_hello .top_r{ 
	float:left;
}
#main .main_r_b_r_hello .top_r_1{ 
	margin-top:2px;
}
#main .main_r_b_r_hello .top_r_1 a{ 
	font:12px/26px "宋体"; 
	color:#3c3c3c; 
	font-weight:bold;
}
#main .main_r_b_r_hello .top_r_1 a:hover{ 
	font:12px/26px "宋体"; 
	color:#ff4400;
}
#main .main_r_b_r_hello .top_r_2{}
#main .main_r_b_r_hello .top_r_2 .ltjbzq{ 
	width:107px; 
	height:28px; 
	font:12px/30px "宋体"; 
	color:#f55732; 
	border:1px solid #fdb08e; 
	display:block; 
	text-indent:29px; 
	background:url(../img/cssSprites1.png) no-repeat -146px -286px #fff0e8; 
	float:left; 
	margin-right:5px;
}
#main .main_r_b_r_hello .top_r_2 .hyjlb{ 
	width:74px; 
	height:28px; 
	text-align:center; 
	font:12px/30px "宋体"; 
	color:#f55732;
	border:1px solid #fdb08e; 
	display:block; 
	background:#fff0e8; 
	float:left;
}
#main .main_r_b_r_hello .bottom{ 
	margin-top:10px;
}
#main .main_r_b_r_hello .login a{ 
	width:100px; 
	height:35px;color:#fff; 
	line-height:36px; 
	display:block; 
	text-indent:51px; 
	border-radius:3px; 
	background:url(../img/login.png) no-repeat 27px 9px #ff4400; 
	float:left; 
	margin-right:5px;
}
#main .main_r_b_r_hello .register a{ 
	width:75px; 
	height:35px; 
	line-height:36px; 
	display:block; 
	text-align:center; 
	border-radius:3px; 
	background:#ff4400; 
	float:left; 
	margin-right:5px;
	color:#fff;
}
#main .main_r_b_r_hello .setShop a{ 
	width:75px; 
	height:35px;
	line-height:36px; 
	display:block; 
	text-align:center; 
	border-radius:3px; 
	background:#ff4400; 
	float:left;
	color:#FFF;
}
#main .main_r_b_r_serve{ 
	background:#f4f4f4;
}
#main .main_r_b_r_serve h3{ 
	font:14px/36px "宋体"; 
	color:#454545; 
	text-indent:16px; 
	font-weight:bold;
}
#main .main_r_b_r_serve ul{ 
	padding:0 14px 0 2px;
}
#main .main_r_b_r_serve li{ 
	float:left; 
	margin-left:10px; 
	margin-bottom:10px; 
	background:#fff;
}
#main .main_r_b_r_serve ul a{ 
	width:56px; 
	height:36px; 
	display:block; 
	border:1px solid #dddddd; 
	border-radius:3px;
	text-align:center; 
	font:12px/36px "宋体"; 
	color:#9c9c9c; 
	padding-top:27px;
}
#main #main_r .main_r_b_l .top{}
#main #main_r .main_r_b_l .tab1{ 
	width:520px; 
	height:280px; 
	float:left; 
	overflow:hidden; 
	position:relative;
}
#main #main_r .main_r_b_l .tab1 ul{ 
	width:1400px; 
	position:absolute; 
	left:0; top:0;
}
#main #main_r .main_r_b_l .tab1 li{ 
	float:left;
}
#main #main_r .main_r_b_l .tab1 img{ 
	width:520px; 
	height:280px;
}
#main #main_r .main_r_b_l .tab1 .btn{ 
	width:28px; 
	height:32px; 
	position:absolute; 
	top:120px;
	background:rgba(0,0,0,0.3); 
	padding:8px 0 0 12px; 
	display:none; 
	cursor:pointer;
}
#main #main_r .main_r_b_l .tab1:hover .btn{ 
	display:block;
}
#main #main_r .main_r_b_l .tab1 .btn a{ 
	width:15px; 
	height:23px; 
	display:block; 
	position:absolute;
}
#main #main_r .main_r_b_l .tab1 .btn_prev{ 
	left:5px;
}
#main #main_r .main_r_b_l .tab1 .btn_next{ 
	right:5px;
}
#main #main_r .main_r_b_l .tab1 .btn:hover{ 
	background:rgba(0,0,0,0.6);
}
#main #main_r .main_r_b_l .tab1 .btn_prev a{ 
	background:url(../img/cssSprites1.png) no-repeat -150px -335px;
}
#main #main_r .main_r_b_l .tab1 .btn_next a{ 
	background:url(../img/cssSprites1.png) no-repeat -150px -310px;
}
#main #main_r .main_r_b_l .banner1{ 
	width:170px; 
	height:280px; 
	background:url(../img/tabBanner1.png) no-repeat; 
	float:left;
}
#main #main_r .main_r_b_l .bottom{}
#main #main_r .main_r_b_l .tab2{ 
	float:left; 
	width:520px; 
	height:198px; 
	overflow:hidden;
	border-top:1px solid #e8e8e8; 
	border-bottom:1px solid #e8e8e8; 
	position:relative;
}
#main #main_r .main_r_b_l .tab2 ul{ 
	width:1400px; 
	position:absolute; 
	left:0; 
	top:0;
}
#main #main_r .main_r_b_l .tab2 li{ 
	float:left;
}
#main #main_r .main_r_b_l .tab2 li div{ 
	float:left;
}
#main #main_r .main_r_b_l .tab2 img{ 
	width:130px; 
	height:198px;
}
#main #main_r .main_r_b_l .tab2 .ts div{ 
	height:198px; 
	width:130px; 
	text-align:center;
}
#main #main_r .main_r_b_l .tab2 .ts img{ 
	width:90px; 
	height:45px; 
	margin-top:10px; 
	margin-bottom:10px; 
	margin-left:20px; 
	margin-right:20px;}
#main #main_r .main_r_b_l .tab2 .ts2 div{ 
	height:198px; 
	width:260px;
}
#main #main_r .main_r_b_l .tab2 .ts2 img{ 
	width:260px; 
	height:198px;
}
#main #main_r .main_r_b_l .tab2 .btn{ 
	width:28px; 
	height:32px; 
	position:absolute; 
	top:80px;background:rgba(0,0,0,0.3); 
	padding:8px 0 0 12px; 
	display:none; 
	cursor:pointer;
}
#main #main_r .main_r_b_l .tab2:hover .btn{ 
	display:block;
}
#main #main_r .main_r_b_l .tab2 .btn a{ 
	width:15px; 
	height:23px; 
	display:block; 
	position:absolute;
}
#main #main_r .main_r_b_l .tab2 .btn_prev{ 
	left:5px;
}
#main #main_r .main_r_b_l .tab2 .btn_next{ 
	right:5px;
}
#main #main_r .main_r_b_l .tab2 .btn:hover{ 
	background:rgba(0,0,0,0.6);
}
#main #main_r .main_r_b_l .tab2 .btn_prev a{ 
	background:url(../img/cssSprites1.png) no-repeat -150px -335px;
}
#main #main_r .main_r_b_l .tab2 .btn_next a{ 
	background:url(../img/cssSprites1.png) no-repeat -150px -310px;
}
#main #main_r .main_r_b_l .tab2 .Tmall{ 
	background:url(../img/cssSprites1.png) no-repeat -100px -164px; 
	width:31px; 
	height:11px; 
	position:absolute; 
	left:244px; 
	bottom:0;
}
#main #main_r .main_r_b_l .bottom{}
#main #main_r .main_r_b_l .banner2{ 
	float:left; 
	width:170px; 
	height:200px; 
	background:url(../img/tabBanner2.jpg) no-repeat;
}
/* end main */

/* zuiTb */
#zuiTb{ 
	width:1188px; 
	border:1px solid #e8e8e8; 
	height:64px; 
	margin:15px auto 0; 
	background:#f5f5f5;
}
#zuiTb .dqrd,#zuiTb .jctj,#zuiTb .pmzq{ 
	padding:12px 0 12px 8px; 
	background:url(../img/zuiTb_rule.png) no-repeat 55px 12px; 
	float:left;
}
#zuiTb h3{ 
	font:14px/18px "宋体"; 
	padding:1px 9px; 
	float:left; 
	width:30px; 
	font-weight:bold; 
	color:#3c3c3c;
}
#zuiTb ul{ 
	float:left; 
	margin-left:5px; 
	width:215px; 
	height:40px;
} 
#zuiTb .pmzq  ul{
	width:150px;
} 
#zuiTb li{ 
	float:left; 
	margin-left:15px;
	height:20px;
}
#zuiTb li a{ 
	font:12px/20px "宋体"; 
	color:#3c3c3c;
}
#zuiTb .gbtk{ 
	float:left; 
	margin-top:3px; 
	cursor:pointer;
}
#zuiTb .zuiTb{ 
	float:left; 
	margin-top:-6px; 
	cursor:pointer;
}
#zuiTb .gbtk img{ 
	transition:0.6s;
}
#zuiTb .gbtk:hover img{ 
	-webkit-transform:translateX(10px);
	-ms-transform:translateX(10px);
	-moz-transform:translateX(10px);
	transform:translateX(10px);
}
#zuiTb .zuiTb img{ 
	transition:0.6s;
}
#zuiTb .zuiTb:hover img{
	-webkit-transform:translateX(10px);
	-ms-transform:translateX(10px);
	-moz-transform:translateX(10px);
	transform:translateX(10px);
}
/* end zuiTb */
/* sort */
#sort{ 
	width:1190px; 
	margin:0 auto;
}
#sort_l{ 
	float:left; 
	width:890px;
}
#sort .sort_l_box{ 
	margin:10px 10px 10px 0; 
	width:435px; 
	float:left;
}
#sort .sort_l_box .title{ 
	height:24px; 
	overflow:hidden;
}
#sort .sort_l_box .content{ 
	border:1px solid #e8e8e8; 
	border-top:none;
}
#sort .sort_l_box .content_l{ 
	float:left;
}
#sort .sort_l_box .content_l_1{}
#sort .sort_l_box .content_l_2{}
#sort .sort_l_box .content_l_3{}
#sort .sort_l_box .nav{}
#sort .sort_l_box h4{ 
	float:left; 
	width:64px; 
	margin-left:15px;
}
#sort .sort_l_box h4 a{ 
	font-size:12px;
}
#sort .sort_l_box ul{ 
	float:left;
}
#sort .sort_l_box li{ 
	float:left; 
	margin-right:12px;
}
#sort .sort_l_box ul a{}
#sort .sort_l_box .content_r{ 
	float:right;
}
#sort .sort_l_box .content_r_1{}
#sort .sort_l_box .content_r_2{}
#sort .onePic .content{}
#sort .onePic li a{ 
	line-height:26px;
}
#sort .onePic h4 a{ 
	line-height:26px;
}
#sort .onePic .content_l_1{ 
	padding-top:13px; 
	padding-bottom:3px;
}
#sort .onePic .content_l_2{ 
	padding-top:5px; 
	border-top:1px solid #e8e8e8; 
	padding-bottom:3px;
}
#sort .onePic .content_l_3{ 
	padding-top:5px; 
	border-top:1px solid #e8e8e8; 
	padding-bottom:6px;
}
#sort .onePic .content_r_1{ 
	width:100px; 
	height:245px;
}
#sort .onePic .content_r{}
#sort .twoPic .content{}
#sort .twoPic li a{ 
	line-height:30px;
}
#sort .twoPic h4 a{ 
	line-height:30px;
}
#sort .twoPic .content_l_1{ 
	padding-top:11px; 
	padding-bottom:11px;
}
#sort .twoPic .content_l_2{ 
	padding-top:3px; 
	border-top:1px solid #e8e8e8; 
	padding-bottom:4px;
}
#sort .twoPic .content_r_1{ 
	width:90px; 
	height:90px; 
	margin-top:14px;
}
#sort .twoPic .content_r_2{ 
	width:90px; 
	height:90px; 
	margin-top:5px;
}
#sort .twoPic .content_r{
	margin-right:10px;
}
#sort .banner{ 
	width:880px; 
	height:70px; 
	margin:10px 0; 
	float:left;}

#sort .title h3{ 
	float:left; 
	text-indent:14px;
}
#sort .title h3 a{ 
	font:16px/24px "宋体"; 
	color:#fff; 
	font-weight:bold;
}
#sort .sort_l_box .title a:hover{ 
	text-decoration:underline;
}
#sort .title h3 span{ 
	font:20px/24px "宋体"; 
	color:#fff; 
	font-weight:bold;
}
#sort .title .title2{ 
	float:left;
}
#sort .onePic .title2{ 
	margin-left:24px;
}	
#sort .twoPic .title2{ 
	margin-left:10px;
}
#sort .title .title2 a{ 
	width:121px; 
	height:17px; 
	background:url(../img/title2_bg.png) no-repeat; 
	line-height:20px; 
	display:block; 
	color:inherit; 
	text-indent:10px; 
	margin-top:4px;
}
#sort .title .title3{ 
	float:right;
}
#sort .title .title3 a{ 
	float:left; 
	color:#fff; 
	margin-right:4px; 
	font-weight:bold;
}
#sort .title .title3 span{ 
	float:left; 
	color:#fff; 
	margin-right:4px; 
	font-weight:bold;
}
#sort .title .title3 a:nth-child(3){ 
	margin-right:14px;
}

#sort .sort_l_box .content_l_1:hover{ 
	background:url(../img/nznz_bg1.png) repeat-y;
}
#sort .sort_l_box .content_l_2:hover{ 
	background:url(../img/nznz_bg2.png) repeat-y;
}
#sort .sort_l_box .content li a{ 
	color:#3c3c3c;
}
#sort .sort_l_box .content h4 a{
	color:#3a3a3a;
}
#sort .sort_l_box .content .red a{ 
	color:#ff4400;
}
#sort .sort_l_box .content a:hover{ 
	color:#ff4400;
}
#sort .sort_l_box .content .red a:hover{ 
	text-decoration:underline;
}
#sort_r{ 
	width:286px; 
	background:red; 
	float:right; 
	border:1px solid #e8e8e8; 
	background:#f5f5f5; 
	margin-top:10px; 
	padding-bottom:20px;
}
#sort_r .fxhh{ 
	margin-top:15px;
}
#sort_r .fxhh .title{ 
	margin-bottom:8px;
}
#sort_r .fxhh .title h4{ 
	width:97px; 
	height:19px; 
	background:url(../img/cssSprites1.png) no-repeat -250px -125px; 
	float:left; 
	margin-top:7px; 
	margin-left:14px;
}
#sort_r .fxhh .title a{ 
	color:#ff4300; 
	font:12px/20px "宋体"; 
	border:1px solid #ff4300; 
	display:block; 
	width:80px; 
	height:18px; 
	text-indent:4px; 
	float:right; 
	margin-top:5px; 
	margin-right:15px; 
	background:#fff; 
	transition:0.2s;
}
#sort_r .fxhh .title a:hover{ 
	color:#fff; 
	background:#ff4300;
}

#sort_r .fxhh .fxhh1 li{
 padding:17px 16px 16px 16px; 
 border-bottom:1px solid #e8e8e8; 
 position:relative;
}
#sort_r .fxhh .fxhh1 li a{ 
	display:block;
}
#sort_r .fxhh .fxhh1 .l{ 
	float:left; width:100px; 
	height:100px; 
	background:url(../img/fxhh1.jpg) no-repeat; 
	background-size:100px 100px;
}
#sort_r .fxhh .fxhh1 .r{ 
	float:left; 
	margin-left:8px;
}
#sort_r .fxhh .fxhh1{ 
	width:256px; 
	border:1px solid #e8e8e8; 
	background:#fff; 
	margin:0 auto;
}
#sort_r .fxhh  .fxhh1 .r p:nth-of-type(1){ 
	font:14px/24px "宋体"; 
	color:#616161; 
	font-weight:bold;
}
#sort_r .fxhh  .fxhh1 .r p:nth-of-type(2){ 
	font:12px/34px "宋体"; 
	color:#737373;
}
#sort_r .fxhh  .fxhh1 .r p:nth-of-type(3){ 
	font:12px/24px "宋体"; 
	color:#616161; 
	font-weight:bold; 
	margin-top:19px;
}
#sort_r .hide{ 
	display:none; 
	height:0px/* 30px */; 
	border-bottom:2px solid rgba(0,0,0,0.1); 
	background:#f5f5f5; 
	width:256px;
	position:absolute; 
	left:0; 
	top:0; 
	left:0; 
	top:130px; 
	z-index:1; 
	transition:1s; 
	overflow:hidden;
}
#sort_r .hide *{ 
	font:12px/30px "宋体"; 
	color:#5c5c5c;
}
#sort_r .hide span{ 
	margin-left:30px;
}
#sort_r .hide em{ 
	margin-left:55px;
}
#sort_r .hide strong{ 
	color:#ff4300; 
	margin-left:36px;
}

#sort_r .fxhh2{
	background:#fff; 
	width:256px; 
	margin:0 auto; 
	border:1px solid #e8e8e8; 
	border-top:none;
}
#sort_r .fxhh2 ul{ 
	width:218px;
	padding:30px 21px 0;
}
#sort_r .fxhh2 li{ 
	float:left; 
	width:70px; 
	width:70px; 
	margin-right:2px;
	margin-bottom:2px; 
	position:relative; 
	cursor:pointer;
}
#sort_r .fxhh2 ul .pic{ 
	width:70px; 
	height:70px; 
	background-repeat:no-repeat; 
	background-size:cover;
}
#sort_r .fxhh2 .text{ 
	display:none; 
	width:58px; 
	height:61px; 
	position:absolute; 
	left:0; 
	top:0; 
	background:#ff4401; 
	padding:9px 6px 0;
}
#sort_r .fxhh2 .text p{ 
	font:12px/18px "宋体"; 
	color:#fff; 
	text-align:center;
}
#sort_r .fxhh2 li:hover .text{ 
	display:block;
}

#sort_r .fxhh2 .refresh{
	margin:10px auto 0;
}
#sort_r .fxhh2 .refresh a{ 
	background:url(../img/refresh1.png) no-repeat 75px 10px;  
	width:258px;
	line-height:34px; 
	color:#737373; 
	display:block; 
	text-align:center;
}
#sort_r .fxhh2 .refresh a:hover{ 
	background-image:url(../img/refresh2.png); 
	color:#ff4400;
}
#sort_r .fxhd{}
#sort_r .fxhd .title{ 
	width:97px; 
	height:18px; 
	background:url(../img/cssSprites1.png) no-repeat -250px -100px; 
	margin-top:16px; 
	margin-left:14px; 
	margin-bottom:8px;
}
#sort_r .fxhd .title{}
#sort_r .fxhd .top{}
#sort_r .fxhd ul{
	background:#fff; 
	width:256px; 
	margin:0 auto;
}
#sort_r .fxhd .top_left{ 
	width:40px; 
	height:40px; 
	border-radius:50%; 
	float:left; 
	margin-left:14px; 
	margin-top:13px;
}
#sort_r .fxhd .top_right{ 
	float:left;  
	margin-left:14px; 
	margin-top:13px;
}
#sort_r .fxhd .top_right h4{ 
	font:14px/22px "宋体"; 
	color:#444444; 
	font-weight:bold;
}
#sort_r .fxhd .top_right a{ 
	font:12px/24px "宋体"; 
	color:#6c6c6c;
}
#sort_r .fxhd .center{}
#sort_r .fxhd .center span{ 
	font:12px/32px "宋体"; 
	color:#6c6c6c; 
	margin-left:14px;
}
#sort_r .fxhd .bottom{ 
	margin-top:6px; 
	padding-bottom:13px;
}
#sort_r .fxhd .bottom img:nth-of-type(1){ 
	margin-left:14px;
	}
#sort_r .fxhd .bottom img{ 
	width:70px; 
	width:70px; 
	margin-right:6px;
}
#sort_r .fxhd li{ 
	border:1px solid #e8e8e8; 
	border-bottom:none;
}
#sort_r .fxhd .refresh{
	margin:10px auto 0;
}
#sort_r .fxhd .refresh a{ 
	background:url(../img/refresh1.png) no-repeat 75px 10px;  
	width:258px;
	line-height:34px; 
	color:#737373; 
	display:block; 
	text-align:center;
}
#sort_r .fxhd .refresh a:hover{ 
	background-image:url(../img/refresh2.png); 
	color:#ff4400;
}
/* end sort */

/* footer2 */
#footer2{ 
	width:1190px; 
	margin:0 auto; 
	border-top:2px solid #ff5400; 
	padding-top:8px; 
	padding-bottom:8px;
}
#footer2 p{  
	width:1100px;
}
#footer2 p a{ 
	font:12px/27px "宋体"; 
	color:#6c6c6c; 
	margin-left:4px; 
	margin-right:4px;
}
#footer2 p a:hover{ 
	color:#ff4400; 
}
#footer2 p span{ 
	color:#e2e2e2; 
	font-weight:bold; 
	margin:0 4px;
}
/* end footer2 */
/* footer */
#footer{ 
	width:1190px; 
	margin:0 auto; 
	font:12px/12px "宋体"; 
	color:#6c6c6c; 
	border-top:1px solid #dddddd;
}
#footer p:nth-of-type(1){ 
	margin-top:12px; 
	margin-bottom:14px; 
	padding-left:4px;
}
#footer p:nth-of-type(1) a{ 
	color:#6c6c6c; 
	margin-right:8px;
}
#footer p:nth-of-type(1) a:hover{ 
	color:#ff4400;
}
#footer p:nth-of-type(1) span{
	color:#9c9c9c; margin-left:27px;
}

#footer p:nth-of-type(2){ 
	padding-left:4px; 
	margin-bottom:10px;
}
#footer p:nth-of-type(2) a{ 
	color:#6c6c6c;
}
#footer p:nth-of-type(2) a:hover{ 
	color:#ff4400;
}
#footer p:nth-of-type(2) span{
	color:#9c9c9c; 
	margin:0 4px;
}
/* end footer */

/* footer3 */
#footer3{ 
	width:1190px; 
	margin:0 auto;
}
#footer3 ul{ 
	padding:30px 0;
}
#footer3 li{ 
	width:272px; 
	border-right:1px solid #e8e8e8; 
	padding-left:24px; 
	float:left;
}
#footer3 a{ 
	margin-right:14px; 
	font:12px/22px "宋体"; 
	color:#9c9c9c;
}
/* end footer2 */
