*{
	margin: 0;
	padding: 0;
}
body{
	font: 12px/24px"宋体";
	background: #fff;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
img{
	vertical-align: bottom;
}
.clear: after{
	content: '';
	display: block;
	clear: both;
}
.clear{
	zoom:1;
}